{
    "wlr/workspaces": {
        "disable-scroll": true,
        "disable-markup" : false,
        "all-outputs": true,
        "on-click": "activate",
        "format": "{icon}",
        "format-icons": {
            "1": "1 ", //"",
            "2": "2 ",
            "3": "3 ",
            "4": "4 ",
            "5": "5 ",
            "6": "6 ",
            "7": "7 ",
            "8": "8 ",
            "9": "9 ",
            "0": "0 ",
            // ""
        }
    },

    "hyprland/window": {
        "max-length": 200,
        "separate-outputs": true
    },

    "mpd": {
        "format": "<span font-size=\"x-small\">{stateIcon}{randomIcon}{repeatIcon}</span> {albumArtist} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S})",
        "format-stopped": "<span font-size=\"small\"> {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}</span>",
        "artist-len": 100,
        "title-len": 100,

        "on-click": "mpc toggle",
        "on-double-click": "mpc seek 0",
        "on-click-right": "mpc stop",
        "on-click-backward": "mpc prev",
        "on-click-forward": "mpc next",
        "on-scroll-up": "mpc seek +5",
        "on-scroll-down": "mpc seek -5",

        "consume-icons": {
            "on": " " // Icon shows only when "consume" is on
        },
        "random-icons": {
            "off": "<span color=\"#f53c3c\"></span> ", // Icon grayed out when "random" is off
            "on": " "
        },
        "repeat-icons": {
            "on": " "
        },
        "single-icons": {
            "on": "1 "
        },
        "state-icons": {
            "paused": " ",
            "playing": " "
        },
    },


    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "tray": {
        "icon-size": 20,
        "spacing": 10
    },
    "clock": {
        "format-alt": "{:%Y-%m-%d %H:%M}",
        "format": "{:%Y-%m-%d — %H:%M}"
    },
    "memory": {
        "format": "{}%"
    },
    "temperature": {
        // "thermal-zone": 2,
        // "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
        "critical-threshold": 80,
        "format-critical": "{temperatureC} °C ",
        "format": "{temperatureC} °C "
    },
    "backlight": {
        "format": "{icon} {percent}%",
        "states": [0,50],
        "format-icons": ["", ""]


//        "states": [0,33,66],
//        "format-icons": [
//            "&#xe1ad;",
//            "&#xe1ae;",
//            "&#xe1ac;",
//        ]

    },
    "battery": {
        "states": {
            "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
        "format-icons": ["", "", "", "", ""]
    },
    "network": {
        // "interface": "wlp2s0", // (Optional) To force the use of this interface
        "format-wifi": " ({signalStrength}%)",
        "format-ethernet": "{ifname}: {ipaddr}/{cidr} ",
        "format-disconnected": "Disconnected ⚠",
        "interval" : 7
    },
    "pulseaudio": {
        //"scroll-step": 1,
        "format": "{icon} {volume}%",
        "format-bluetooth": "{icon}{volume}% ",
        "format-muted": "",
        "format-icons": {
            "headphones": "",
            "handsfree": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", ""]
        },
        "on-click": "pavucontrol"
    },
    "custom/media": {
        "format": "{}",
        "exec": "$HOME/.config/waybar/modules/mediaplayer.sh" // Script in resources folder
    },
    "custom/weather": {
        "format": "{}",
        "tooltip": true,
        "interval": 600,
        "exec": "$HOME/.config/waybar/modules/weather.py",
        "return-type": "json"
    }
}
